<div ng-controller="MoodController as mood">
<div id = "showall">
<div id="emoji"
     ng-repeat="m in mood.current_user_moods | orderBy: '-created_at'"
     ng-style="m.happiness==1 && {'background-color':  '#80CCFF'} ||
               m.happiness==2 && {'background-color':  '#00E5E6'} ||
               m.happiness==3 && {'background-color':  '#FF5050'} ||
               m.happiness==4 && {'background-color':  '#33CC33'} ||
               m.happiness==5 && {'background-color':  '#6dd4b1'} ||
               m.happiness==6 && {'background-color':  '#CC33FF'} ||
               m.happiness==7 && {'background-color':  '#FFFF66'} ||
               m.happiness==8 && {'background-color':  '#FF3399'} ||
               m.happiness==9 && {'background-color':  '#66FF99'} ||
               m.happiness==10 && {'background-color':  '#FFCCFF'}">


     <!-- POST DATE -->
     <span>Posted: {{m.created_at | date:'MM/dd/yyyy @ h:mma'}}</span>


     <!-- EMOJIS -->
     <!-- one -->
     <span ng-show="m.happiness==1"
           class="emojishow">
        <img src="images/1.png"/>
     </span>

     <!-- two -->
     <span ng-show="m.happiness==2"
           class="emojishow">
        <img src="images/2.png"/>
     </span>

      <!-- three -->
      <span ng-show="m.happiness==3"
            class="emojishow">
        <img src="images/3.png"/>
      </span>

      <!-- four -->
      <span ng-show="m.happiness==4"
            class="emojishow">
        <img src="images/4.png"/>
      </span>

      <!-- five -->
      <span ng-show="m.happiness==5"
            class="emojishow">
        <img src="images/5.png"/>
      </span>

      <!-- six -->
      <span ng-show="m.happiness==6"
            class="emojishow">
        <img src="images/6.png"/>
      </span>

      <!-- seven -->
      <span ng-show="m.happiness==7"
            class="emojishow">
        <img src="images/7.png"/>
      </span>

      <!-- eight -->
      <span ng-show="m.happiness==8"
            class="emojishow">

         <img src="images/8.png"/>
      </span>

      <!-- nine -->
      <span ng-show="m.happiness==9"
            class="emojishow">
        <img src="images/9.png"/>
      </span>

      <!-- ten -->
      <span ng-show="m.happiness==10"
            class="emojishow">
         <img src="images/10.png"/>
      </span>


      <!-- FACTORS -->
      <span ng-repeat="factor in m.factors">
        <h4>"{{factor.blurb}}"</h4>
      </span>
      <button type="button" ng-click="mood.deleteMood(m)">DELETE</button>
      <br/>
</div><br/>
</div>
</div>
