TRYING TO CREATE A LOG PAGE FOR ANGULAR TO ROUTE TO

<p>Happiness Level Log
<!-- This shows array w id, happiness , created_at, empty factors  -->
<!-- {{mood.current_user_moods}} </p>-->
<ul>
  <li ng-repeat="m in mood.current_user_moods">

    Happiness level out of 10: {{m.happiness}}, as of
    {{m.created_at | date:'MM/dd/yyyy @ h:mma'}} <br/>
    ID number is: {{m.id}}  <br/>
    Factors include: 
    <!-- {{m.factors}}  -->
    <br/>
      <ul> 
          <li ng-repeat="factor in m.factors">
            Blurb: {{factor.blurb}}, 
            Time Occurred: {{factor.created_at}}
          </li>
      </ul>

    <form ng-submit=mood.createFactor(m.id)>
       <input type="text" placeholder="enter new factor here" ng-model="model.new_blurb">
       <input type="submit" value="new factor here">
    </form>
  </li>

</ul>